<div>
  <%- include('_nav_links') %>
</div>
<h3 class="page-header"><%= event.user.name %> – <%= event.title %>'</h3>
<div class="posts-show-container">
  <div class="post-info">
    <div class="ag-post-date">
      <%= event.date.toLocaleDateString('de-DE') %> – <%= event.date.toLocaleTimeString('de-DE').slice(0, -3) %> Uhr
    </div>
  </div>
  <div class="text-bright">
    <h2><%= event.title %></h2>  
  </div>
  <div class="textcontent border-top text-bright">
    <%- event.description %> 
  </div>
  <div>
    <%- include('_nav_links') %>
  </div>
</div>