<div class="form-row">
  <div class="form-item">
    <label for="commentText"></label>
    <textarea name="commentText" cols="80" wrap="hard"><%= textContent %></textarea>
    <input type="hidden" name="post" value="<%= post.id %>">
    <input type="hidden" name="targetUser" value="<%= post.user.id %>">
  </div>
</div>
<div class="form-row form-row-end btn-row btn-row-end">
    <a class="btn btn-back" href="/posts/<%= post.id %>">abbrechen</a>
  <button class="btn btn-primary" type="submit"><%= buttonText %></button>
</div>