<h3>Kommentare:</h3>
<div>
  <% postComments.forEach(postComment => { %>
      <div>
        <%= postComment.commentText %> 
      </div>
      <div>
        <% users.forEach(user => { %> 
          <% if(user.id == postComment.user) { %>
            <%= user.name %>-AG  
          <% } %> 
        <% }) %> 
      </div>
      <div class="btn-row">
        <a class="btn btn-primary" href="/posts/<%=post.id%>/comments/<%=postComment.id%>/edit">Kommentar bearbeiten</a>
        <%- include('../partials/deleteForm', {url: `/posts/${post.id}/comments/${postComment.id}` }) %> 
      </div>
    <br>
  <% }) %> 
</div>
<h4>Neuen Kommentar hinzufügen</h4>
<div>
  <form action="/posts/<%=post.id%>" method="POST">
    <%- include('_form_fields') %> 
  </form>
</div>