<h3>Kommentare:</h3>
<div>
  <% comments.forEach(comment => { %>
    <% if(post.id == comment.post) { %>
      <div>
        <%= comment.commentText %> 
      </div>
      <div>
        <% users.forEach(user => { %> 
          <% if(user.id == comment.user) { %>
            <%= user.name %>-AG  
          <% } %> 
        <% }) %> 
      </div>
      <div class="btn-row">
        <a class="btn btn-primary" href="/posts/<%=post.id%>/comments/<%=comment.id%>/edit">Kommentar bearbeiten</a>
        <%- include('../partials/deleteForm', {url: `/posts/${post.id}/comments/${comment.id}` }) %> 
      </div>
    <% } %> 
    <br>
  <% }) %> 
</div>
<h4>Neuen Kommentar hinzufügen</h4>
<div>
  <form action="/posts/<%=post.id%>" method="POST">
    <%- include('_form_fields') %> 
  </form>
</div>