<div class="comments-container">
  <h2>Kommentare:</h2>
  <% postComments.forEach(postComment => { %>
    <div class="comment-container">
      <div class="comments-row">
        <div>
          <% users.forEach(user => { %> 
            <% if(user.id == postComment.user) { %>
              von <%= user.name %>-AG  
            <% } %> 
          <% }) %> 
        </div>
        <div class="comment-date">
          geändert: <%= postComment.updatedAt.toLocaleDateString('de-DE') %> 
        </div>
        <div class="comment-date">
          ertsellt: <%= postComment.createdAt.toLocaleDateString('de-DE') %> 
        </div>
      </div>
      <div class="comment-text text-medium text-bright">
        <%- postComment.commentText %> 
      </div>
      <% if (currentUser.id == postComment.user) { %>
        <div class="btn-row btn-row-end">
          <a class="btn btn-primary" href="/posts/<%=post.id%>/comments/<%=postComment.id%>/edit">Kommentar bearbeiten</a>
          <%- include('../partials/deleteForm', {url: `/posts/${post.id}/comments/${postComment.id}` }) %> 
        </div>
      <% } %> 
    </div>
  <% }) %>
  <div class="comment-border-top"></div>
  <div>
    <h4>Neuen Kommentar hinzufügen</h4>
    <form action="/posts/<%=post.id%>" method="POST">
      <%- include('_form_fields', { textContent: '', buttonText: 'kommentieren' }) %> 
    </form>
  </div>
</div>