<h2 class="page-header">Alle AGs</h2>
<div class="page-container">
  <div class="ag-container ag-header">
    <div class="ag-name">AG</div>
    <div class="ag-posts">neueste Beiträge / zuletzt geändert</div>
    <div class="ag-info">AG-Info</div>
  </div>
  <% targetUsers.forEach(targetUser => { %>
    <div class="ag-container">
      <div class="ag-name">
        <a class="btn btn-primary" href="users/<%=targetUser.id%>"><%= targetUser.name %></a>
      </div>
      <div class="ag-posts">
        <% let agPosts = [] %> 
        <% posts.forEach(post => { %>
          <% if (post.user == targetUser.id) { %>
            <% agPosts.push(post) %> 
          <% } %>
        <% }) %>
        <% agPosts.slice(0, 2).forEach(agPost => { %>
          <div class="ag-posts-content">
            <div class="ag-posts-title">
              <a href="/posts/<%= agPost.id %>"><%= agPost.title %></a>
            </div>
            <div class="ag-post-date">
              <% let postDate = agPost.updatedAt %> 
              Erstellt am: <%= `${postDate.getDate()}.${postDate.getMonth()}.${postDate.getFullYear()}` %>
            </div>
          </div>
        <% }) %> 
      </div>
      <div class="ag-info">
        <div class="ag-info-content">
          Kontakt: <%= targetUser.contactMail %> 
        </div>
        <div class="ag-info-content">
          <% let agDate = targetUser.registerDate %> 
          Beigetreten am: <%= `${agDate.getDate()}.${agDate.getMonth()}.${agDate.getFullYear()}` %> 
        </div>
      </div>
    </div>
  <%  })  %> 
</div>