<h2 class="page-header">Alle AGs</h2>

<% targetUsers.forEach(targetUser => { %>
  <div>
    <div>
      <a class="btn btn-primary" href="users/<%=targetUser.id%>"><%= targetUser.name %></a>
    </div>
    <br>
    Rolle: <%= targetUser.role %>
    <br>
    Email: <%= targetUser.email %> 
    <br>
    <% let date = targetUser.registerDate %> 
    Beigetreten am: <%= `${date.getDate()}.${date.getMonth()}.${date.getYear()}` %> 
  </div>
  <br>
  <br>
<%  })  %> 