<h2 class="page-header">Alle AGs</h2>
<div class="page-container">
  <div class="ag-container ag-header">
    <div class="ag-name">AG</div>
    <div class="ag-posts">Arbeitsstand / Entscheidungen</div>
    <div class="ag-info">AG-Info</div>
  </div>
  <% targetUsers.forEach(targetUser => { %>
    <div class="ag-container">
      <div class="ag-name">
        <a class="btn btn-primary" href="users/<%=targetUser.id%>"><%= targetUser.name %></a>
      </div>
      <div class="ag-posts">
        <%= targetUser.statusOfWork  %> 
      </div>
      <div class="ag-info">
        <div class="ag-info-content">
          Kontakt: <%= targetUser.contactMail %> 
        </div>
        <div class="ag-info-content">
          <% let agDate = targetUser.registerDate %> 
          letztes Protokoll: <%= `${agDate.getDate()}.${agDate.getMonth()}.${agDate.getFullYear()}` %> 
        </div>
      </div>
    </div>
  <%  })  %> 
</div>