<h2>Alle AGs</h2>

<% targetUsers.forEach(targetUser => { %>
  <div>
    <a href="users/<%=targetUser.id%>"><%= targetUser.name %></a>
    <br>
    Rolle: <%= targetUser.role %>
    <br>
    Email: <%= targetUser.email %> 
    <br>
    Beigetreten: <%= targetUser.registerDate %> 
  </div>
  <br>
  <br>
<%  })  %> 