<div>
  <%- include('_nav_links') %> 
</div>
<div class="ag-show-ag-row">
  <h2 class="page-header"> <%= targetUser.name %> - AG </h2>
  <div>
    <%= targetUser.contactMail %> 
  </div>
</div>
<div>
  <div>
    <%= targetUser.description %> 
  </div>
  <div>
    <h4>Arbeitsstand:</h4>
    <%= targetUser.statusOfWork %> 
  </div>
</div>
<div class="ag-show-posts">
  <h3>Beiträge der AG</h3>   
  <% posts.forEach(post => { %> 
    <div class="ag-show-post">
      <div class="ag-post-name">
        <a href="/posts/<%= post.id %> "><%= post.title %></a>
      </div>
      <div class="ag-post-comments-count">
        <%  let postComments = [] %> 
        <% postsComments.forEach(postComment => { %>  
          <% if (postComment.post == post.id) { postComments.push(postComment) }%>
        <% }) %>
        Anzahl Kommentare: <%= postComments.length %> 
      </div>
    </div>
  <% }) %>
</div>
<div>
  <%- include('_nav_links') %> 
</div>