<h2 class="page-header"> <%= targetUser.name %> </h2>

<div>
  <h3>AG-Infos</h3>
  <div>
    <div>
      <h4>Vorstellung der AG <%= targetUser.name %>:</h4>
      <%= targetUser.description %> 
    </div>
    <div>
      <h4>Kontakt:</h4>
      <%= targetUser.contact %> 
    </div>
    <div>
      <h4>Arbeitsstand:</h4>
      <%= targetUser.statusOfWork %> 
    </div>
  </div>
</div>

<div>
  <h3>Beiträge der AG</h3>
  
  <% posts.forEach(post => { %> 
      <div>
        <%= post.title %> 
      </div>
  <% }) %>
</div>
<div>
  <div class="btn-row">
    <a class="btn btn-primary" href="/users">zurück zu den AGs</a>
    <a class="btn btn-primary" href="/users/<%= targetUser.id %>/edit">AG bearbeiten</a>
    <%- include('../partials/deleteForm', {url: `/users/${targetUser.id}` }) %> 
  </div>
</div>