<h2 class="page-header">
  <strong><em><%= post.user.name %></em></strong>-AG
</h2>
<div>
  <div>
    <h3><%= post.title %></h3>  
  </div>
  <div>
    <%= post.description %> 
  </div>
</div>
<br>
<div>
  <div class="btn-row">
    <div>
      <a class="btn btn-primary" href="/posts/<%= post.id %>/edit">Bearbeiten</a>
      <br>
      <br>
      <%- include('../partials/deleteForm', {url: `/posts/${post.id}` }) %> 
    </div>
  </div>
    <%- include('../comments/index') %> 
  <div>
    <div class="form-row-end btn-row">
      <a class="btn btn-primary" href="/posts">Alle Beiträge</a>
    </div>
  </div>
</div>