<h3 class="page-header"><%= post.user.name %> - AG / Protokoll '<%= post.title %>'</h3>
<div class="posts-show-container">
  <div class="post-info">
    <div class="ag-post-date">
      <% let postUpdated = post.updatedAt %> 
      zuletz geändert: <%= `${postUpdated.getDate()}.${postUpdated.getMonth()}.${postUpdated.getFullYear()}` %>
    </div>
    <div class="ag-post-date">
      <% let postCreated = post.createdAt %> 
      erstellt am: <%= `${postCreated.getDate()}.${postCreated.getMonth()}.${postCreated.getFullYear()}` %>
    </div>
  </div>
  <div class="text-bright">
    <h2><%= post.title %></h2>  
  </div>
  <div class="textcontent border-top text-bright">
    <%- post.description %> 
  </div>
  <div>
    <%- include('_nav_links') %>
  </div>
</div>
<br>
<div>
  <%- include('../comments/index') %>
</div>